cuda-toolkit>=13.0.0
cuda-python>=13.0.0
flake8==7.3.0
astroid==4.0.3
ipympl==0.10.0
jupyter==1.1.1
nbconvert==7.17.0
nvidia-cuda-runtime==13.0.96
onnx==1.20.1
onnxscript==0.6.0
protobuf>=6.33.5
pylint==4.0.4
pytest-mock==3.15.1
sshtunnel==0.4.0
tensorrt==10.14.1.48.post1
tensorrt_dispatch==10.14.1.48.post1
tensorrt_lean==10.14.1.48.post1
tqdm==4.67.3
--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.10.0+cu130
