__pycache__
aerial_mcore/aerial_pkg/dist
aerial_mcore/aerial_pkg/src/
aerial_mcore/examples/GPU_test_input/
nr_matlab/GPU_test_input/
nr_matlab/run/
nr_matlab/bin/
nr_matlab/*.asv
nr_matlab/*/*.asv
nr_matlab/.vscode/*.*
nr_matlab/core.*
