*.h5 filter=lfs diff=lfs merge=lfs -text
testMac_DL_ctrl-TC2003_pdcch.h5 filter=lfs diff=lfs merge=lfs -text
TV_cuphy_F14-US-33_snrdb40.00_MIMO8x16_PRB64_DataSyms12_qam256.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg2_gNB_FAPI_s1.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg3_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_dl_PDCCH_gNB_CUPHY_s1p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_msg3_rtx_yesRach_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
TV_PRACH_ORAN_1205.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_gNB_FAPI_s0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs10_rtx_yesRach_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
TVnr_1005_gNB_FAPI_s0.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg4_PDCCH_gNB_CUPHY_s11p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs27_rtx_noRach_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs27_rtx_yesRach_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_msg3_rtx_noRach_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
TV_api_cuphy_F08-DS-01.1_slot5_MIMO4x4_PRB273_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
demo_coreset0_gNB_FAPI_s2.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg2_PDSCH_gNB_CUPHY_s1p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg4_PDSCH_gNB_CUPHY_s11p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_dl_PDSCH_gNB_CUPHY_s1p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs27_rtx_noRach_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg5_pusch_PUSCH_gNB_CUPHY_s4p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pdcch_PDCCH_gNB_CUPHY_s12p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pdcch_gNB_FAPI_s12.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs10_rtx_yesRach_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
TV_api_cuphy_F14-DS-33_slot5_MIMO16x16_PRB64_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
TV_cuphy_F14-US-35_snrdb40.00_MIMO1x16_PRB40_DataSyms12_qam16.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs27_rtx_yesRach_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
demo_ssb_SSB_gNB_CUPHY_s0p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_ssb_gNB_FAPI_s0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_dl_gNB_FAPI_s1.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
TVnr_1006_gNB_FAPI_s0.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg5_pdcch_PDCCH_gNB_CUPHY_s1p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_harq_PUCCH_gNB_CUPHY_s14p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg4_PDCCH_gNB_CUPHY_s11p0_legacy.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg5_pdcch_gNB_FAPI_s1.h5 filter=lfs diff=lfs merge=lfs -text
TV_cuphy_F14-US-01_snrdb40.00_MIMO8x16_PRB272_DataSyms12_qam256.h5 filter=lfs diff=lfs merge=lfs -text
TV_cuphy_F14-US-34_snrdb40.00_MIMO2x16_PRB72_DataSyms12_qam64.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg1_PRACH_gNB_CUPHY_s0p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg1_gNB_FAPI_s0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_msg3_rtx_noRach_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg5_pusch_gNB_FAPI_s4.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_dl_PDCCH_gNB_CUPHY_s1p0_legacy.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs10_rtx_noRach_PUSCH_gNB_CUPHY_s5p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_coreset0_PDSCH_gNB_CUPHY_s2p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg3_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_msg3_rtx_yesRach_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
testMac_DL_ctrl-TC2006_pdcch.h5 filter=lfs diff=lfs merge=lfs -text
TV_api_cuphy_F14-DS-01_slot5_MIMO16x16_PRB273_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
demo_harq_gNB_FAPI_s14.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg2_PDCCH_gNB_CUPHY_s1p0.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_PUSCH_gNB_CUPHY_s0p0.h5 filter=lfs diff=lfs merge=lfs -text
testMac_DL_ctrl-TC2002_pdcch.h5 filter=lfs diff=lfs merge=lfs -text
demo_traffic_ul_pusch_mcs10_rtx_noRach_gNB_FAPI_s5.h5 filter=lfs diff=lfs merge=lfs -text
TV_api_cuphy_F08-DS-01.1_slot5_MIMO4x4_PRB273_DataSyms9_qam256.h5 filter=lfs diff=lfs merge=lfs -text
TV_api_cuphy_F14-DS-34_slot5_MIMO4x16_PRB72_DataSyms11_qam64.h5 filter=lfs diff=lfs merge=lfs -text
TV_api_cuphy_F14-DS-35_slot5_MIMO2x16_PRB40_DataSyms11_qam16.h5 filter=lfs diff=lfs merge=lfs -text
TV_cuphy_F01-US-09.1_snrdb40.00_MIMO2x4_PRB104_DataSyms13_qam256.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg2_PDCCH_gNB_CUPHY_s1p0_legacy.h5 filter=lfs diff=lfs merge=lfs -text
TV_api_cuphy_F08-DS-01.1_126_slot5_MIMO4x4_PRB126_DataSyms11_qam256.h5 filter=lfs diff=lfs merge=lfs -text
TV_cuphy_F08-US-01.1_snrdb40.00_MIMO1x4_PRB272_DataSyms13_qam256.h5 filter=lfs diff=lfs merge=lfs -text
demo_msg4_gNB_FAPI_s11.h5 filter=lfs diff=lfs merge=lfs -text
